Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Here address, five child elements; NearestAirport is a required ATTRIBUTE -->

  <!--   So here I have divded it multiple parts. Here I have defines the complex structure for the 'Address' element
    It includes standard address fields in sequence.
    The 'NearestAirport' is declared as a required attribute -->
  
  <xs:complexType name="AddressType">
    
    <xs:sequence>
      
    <xs:element name="Number" type="xs:string" minOccurs="0"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="Zip" type="xs:string"/>
      
    </xs:sequence>
    
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

  <!--    Here I have describes the structure of each 'Hotel' element.
    The expected order is,  Name, one or more Phone entries, followed by Address.
    'Rating' is an optional attribute for each hotel. -->

  
  <xs:complexType name="HotelType">
    <xs:sequence>
      
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
      
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <!-- This is the root Here each hotel  must follow the HotelType structure defined above.-->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      
    </xs:complexType>
  </xs:element>
</xs:schema>
